html {
    background-color: #d6d4e0; font-family: 'Lucida Console';
}

.wrapper {
    position:relative;
}

.text-block {
    position: absolute;
    background-color: #622569a9;
    top: 120px; right:500px;
    color:#d6d4e0; text-shadow: 1px 1px #b8a9c9ac;
    padding-left: 20px; padding-right: 20px;
    box-shadow: 3px 3px #5b9aa0b2; font-size: 12px;
}

li {
    list-style-type: none;
    text-align: right;
}
li a {
    text-decoration: none; color:#5b9aa0;
    text-shadow: 2px 1px #d6d4e0;
}
li.active {
    background-color: #622569; width:165px; text-align: left;
}
nav {
    display:block;
    width:200px; line-height: 1.8;
    margin-right: 0px;
    background-color: #b8a9c9;
    padding-right: 100px; padding-top: 100px; padding-bottom: 285px; 
    box-shadow: 10px 4px #622569;
}
.header {
    font-size:24px; color:#5b9aa0;
    float:right;
}

.polaroid1 {
    width: 200px; border: white; top: 5px; left: 0px; ;
    background-color: white; position: absolute; outline: 10px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px; margin-top: 10px; margin-left: 75px; 
}
.polaroid2 {
    width: 200px; border: white; top: 5px; right: 250px;
    background-color: white; position:absolute; outline: 10px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px; margin-top: 10px; margin-left: 75px;
}
.polaroid3 {
    width: 200px; border: white; bottom: 5px; left: 0px;
    background-color: white; position: absolute; outline: 10px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px; margin-top: 10px; margin-left: 75px;
}
.polaroid4{
    width: 200px; border: white; bottom: 5px; right: 250px;
    background-color: white; position: absolute; outline: 10px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px; margin-top: 10px; margin-left: 75px;
}
.contain {
    text-align: center;
    padding: 10px 10px;
    background-color: white;
}

.footer {
    width: 200px; height: 300px; border: white; bottom: 5px; right: 500px;
    background-color: white; position:absolute; outline: 10px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px; margin-top: 10px; margin-left: 75px;
}
.bottom1 {
    text-align: center; color:#b8a9c9; text-shadow: 1px 0px #5b9aa0;
    background-color: #622569;
    position:absolute; bottom:60px;
}

.footer2 {
    width: 200px; height: 300px; border: white; bottom: 5px; left: 250px;
    background-color: white; position:absolute; outline: 10px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px; margin-top: 10px; margin-left: 75px;
}

.bottom2 {
    text-align: center; color:#b8a9c9; text-shadow: 1px 0px #5b9aa0;
    background-color: #622569; font-size: 16px;
    position:absolute; bottom: 70px;
}




*{
    box-sizing:border-box;
}
.timeline {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}
.timeline::after {
    content: '';
    position:absolute;
    width: 6px;
    background-color:#5b9aa0;
    top: 0; bottom: 0;
    left: 50%; margin-left: -3px;
}
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.container::after {
    content: '';
    position: absolute;
    width: 25px; height: 25px; right: -17px;
    background-color: #d6d4e0;
    border: 4px solid #5b9aa0;
    top: 15px; border-radius: 50%; z-index:1;
}
.left {
    left: 0;
}
.right {
    left: 50%;
}
.left::before {
    content: " ";
    height: 0; position: absolute;
    top: 22px; width: 0; z-index: 1;
    right: 30px; border: medium solid #622569;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px; width: 0; z-index: 1; left: 30px;
    border: medium solid #622569;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
.right::after {
    left: -16px;
}
.content {
    padding: 10px 15px;
    background-color: #5b9aa0;
    position: relative;
    border-radius: 6px;
}
.name {
    text-align: center;
    color: #622569; font-size: xx-large; font-family: fantasy;
}

.row {
    display: flex;
}

.row2 {
    display: flex;
}

.column {
    flex: 40%;
    padding: 10px;
    position: relative;
    margin-left: 80px;
}

.gallery {
    outline-style: solid;
    outline-color: #5b9aa0; box-shadow: 10px 0px #1a0a1c9a;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: #622569a9;
    color: #f1f1f1;
    width:60%; margin-left: 20px; margin-bottom: 35px;
    transition: .5s ease;
    opacity:0;
    color: #d6d4e0; text-shadow: 1px 1px #b8a9c9;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
.column:hover .overlay {
    opacity: 1;
}

.texting {
    color: #5b9aa0;text-shadow: 2px 2px #b8a9c9; 
    font-family: 'Courier New', Courier, monospace;
    position:absolute;
}

.button {
    background-color: #622569;
    border: none;
    color:#d6d4e0; text-shadow: #b8a9c9;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor:auto;
    border-radius: 16px;
  }


.collapsible {
    background-color: #622569; color:#d6d4e0; text-shadow: 1px 1px #aa84afa9;
    font-family: fantasy;
    cursor: pointer; padding: 18px;
    width: 80%; border:none; text-align: center;
    outline: solid #5b9aa0; font-size: 20px;
}
.textt {
    padding: 0 18px; width:80%; margin-left:25px;
    font-family: 'Times New Roman', Times, serif;
    display: none; text-align: justify;
    overflow: hidden; outline: solid #5b9aa0a4;
    background-color: #481b4dc6; font-size: 15px;
    color:#d6d4e0; text-shadow: 1px 1px #aa84afa9;
}




